.contact-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}
.bg_image__contact {
    padding: 32px 64px;
    position: relative;
    padding-top: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.bg_image__contact > img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero__contact {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    animation-name: color-change;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.wpforms-container{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
}

.wpforms-container .wpforms-field {
    margin-bottom: 12px;
}

.wpforms-container .wpforms-field label{
    margin-bottom: 4px;
}

.wpforms-container .wpforms-field input,
.wpforms-container .wpforms-field textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 12px;
}

.wpforms-container .wpforms-field textarea {
    height: 160px;
    max-height: 480px;
}

.wpforms-submit-container,
.wpforms-container .wpforms-hidden {
    display: none;
}

.form-actions {
    justify-content: right;
}

.form-actions button:not:first-child {
    flex-grow: 1;
}

.form-actions button:last-child {
    flex-grow: 2;
}

.hero__contact .hero_content {
    margin: 0 auto;
    padding: 96px 0 128px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__contact .hero_content .p__contact {
    max-width: 640px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 32px;
}
.hero__contact .hero_content button {
    padding: 16px 32px;
    width: fit-content;
}
.hero__contact .hero_content .h6__contact {
    font-weight: 500;
    letter-spacing: 4px;
}
.hero__contact .hero_content .h1__contact {
    max-width: 640px;
    font-family: Yeager;
    font-size: calc((3rem + 1.25vw)*1.12);
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 24px;
}
.hero__contact .hero_inner {
    max-width: 1800px;
    gap: 32px;
    display: flex;
    align-items: center;
}
.hero__contact img {
    max-width: 30%;
    animation-name: standing;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes standing {
    0% {
        transform: rotate3d(1, 1, 1, 0deg) translateX(0px) translateY(0px);
   }
    50% {
        transform: rotate3d(1, 1, 1, 1deg) translateX(5px) translateY(15px);
   }
    100% {
        transform: rotate3d(1, 1, 1, 0deg) translateX(0px) translateY(0px);
   }
}
.page_inner__contact {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 64px;
    margin-top: -64px;
}
.page_inner__contact .c_container {
    display: flex;
}
.page_inner__contact .c_title_container {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
    background: var(--shade-0);
    padding: 96px;
    gap: 48px;
}
.page_inner__contact .c_title_container .line {
    height: 4px;
    background: var(--background-3);
}
.page_inner__contact .c_content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    min-width: 50%;
    max-width: 50%;
    background: var(--background-3);
    padding: 96px;
    gap: 48px;
    color: var(--shade-1);
}
.page_inner__contact .c_title {
    font-family: Yeager;
    font-weight: 500;
    font-size: 120px;
    letter-spacing: -4px;
    line-height: 1.1;
}

@media screen and (max-width: 960px) {
    .bg_image__contact{
        padding: 32px 16px !important;
    }

    .bg_image__contact .hero__contact{
        padding: 0 !important;
    }

    .hero__contact .hero_inner {
        flex-direction: column;
    }

    .hero__contact .hero_inner {
        padding-top: 128px !important;
    }

    .hero__contact .hero_inner .hero_content{
        padding-top: 0 !important;
    }
    

    .c_container{
        flex-direction: column;
    }
    .page_inner__contact .c_title_container, .page_inner__contact .c_content_container{
        width: 100%;
        min-width: 100%;
        padding: 32px !important;
    }
    .page_inner__contact .c_content_container{
        font-size: 32px;
    }
    .page_inner__contact .c_container:nth-child(2){
        flex-direction: column-reverse !important;
    }
    .page_inner__contact {
        padding: 0 !important;
    }
}