.navigation-container {
  max-width: 1600px;
  width: calc(100% - 128px);
  margin: 32px 64px;
  background: rgba(0, 30, 57, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  padding: 0 32px 0 48px;
  border-radius: 24px;
  align-items: center;
  height: 96px;
  z-index: 1;
}
nav {
  font-family: Yeager;
  font-size: 17px;
  letter-spacing: 2px;
  display: flex;
}
nav a {
  padding: 20px 24px;
}

nav.mobile_nav{
  display: none;
}

menu {
  display: none;
}
.nav-top {
  top: -24px;
  color: rgba(0, 30, 57, 0.5);
  position: absolute;
  height: 24px;
  left: 0;
  right: 0;
}
.app-logo {
  height: 44px;
  width: auto;
}
.nav-bottom {
  bottom: -23.5px;
  color: rgba(0, 30, 57, 0.5);
  position: absolute;
  height: 24px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 960px) {
  .navigation-container {
    max-width: 1600px;
    width: calc(100% - 32px);
    margin: 16px 16px;
    background: rgba(0, 30, 57, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    padding: 0 24px 0 24px;
    border-radius: 24px;
    align-items: center;
    height: 96px;
    z-index: 1;
  }
  .app-logo {
    height: 32px;
    width: auto;
  }

  nav:not(.mobile_nav){
    display: none;
  }

  nav.mobile_nav{
      z-index: 1;
      flex-direction: column;
      left: -16px;
      top: -16px;
      right: -16px;
      height: 100vh;
      position: absolute;
      background: var(--shade-0);
  }

  nav.mobile_nav .material-icons-outlined{
    padding: 24px 24px 0 24px;
    margin-left: auto;
    font-size: 32px;
  }

  nav.mobile_nav.opened{
    display: flex;
}

  menu {
    display: flex;
    margin-left: auto;
  }
}
